Source: gcfg
Section: admin
Priority: optional
Maintainer: Cedric Dufour <cedric.dufour@ced-network.net>
Build-Depends: debhelper (>= 8) 
Homepage: https://github.com/cedric-dufour/gcfg
Standards-Version: 3.9.4

Package: gcfg
Architecture: all
Depends: bash, lsb-release, git-core, aptitude
Recommends: diffutils, a2ps
Description: GIT-based Configuration Tracking Utility (GCFG)
